<section class="planner-simple-section">

  <h1 class="planner-title">Simple planner</h1>

  <div class="planner-container">
    <div class="planner">

      <div class="planner-action-container">
        <input [(ngModel)]="inputValue" class="planner-task-input" placeholder="Add new task..." type="text">

        <button (click)="addTask()" class="planner-btn-add">
          Add
        </button>
      </div>


      <ul class="planner-list">
        <li *ngFor="let task of tasks" class="planner-list-item">
          {{task}}
        </li>
      </ul>

    </div>
  </div>

</section>
